<a href="https://colab.research.google.com/github/rickjhee/KommatiParaABN/blob/development/Exercise_ABN_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ABN Exercise for KommatiPara

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 68kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 16.6MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=7b32cc1e082b6ec7a8dd4e8875164213148e3575f7a10c13cc4e00b869d55c42
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [32]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

from pyspark.sql.functions import col

In [15]:
# Download the datasets from the Github repository

!wget --no-check-certificate \
    https://raw.githubusercontent.com/rickjhee/KommatiParaABN/main/dataset_one.csv \
    -O /tmp/dataset_one.csv

!wget --no-check-certificate \
    https://raw.githubusercontent.com/rickjhee/KommatiParaABN/main/dataset_two.csv \
    -O /tmp/dataset_two.csv

--2021-05-18 08:39:08--  https://raw.githubusercontent.com/rickjhee/KommatiParaABN/main/dataset_one.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52041 (51K) [text/plain]
Saving to: ‘/tmp/dataset_one.csv’

/tmp/dataset_one.cs 100%[===================>]  50.82K  --.-KB/s    in 0.01s

2021-05-18 08:39:08 (4.73 MB/s) - ‘/tmp/dataset_one.csv’ saved [52041/52041]

--2021-05-18 08:39:08--  https://raw.githubusercontent.com/rickjhee/KommatiParaABN/main/dataset_two.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64985 (63K) [text/plain]
Saving to: ‘/tmp/dataset_two.csv’

/tmp/dataset_two.cs 100%[===================>]  63.46K  --.-KB/s    in 0.01s

2021-05-18 08:39:08 (5.69 MB/s) - ‘/tmp/dataset_two.csv’ saved [64985/64985]

In [17]:
df1 = spark.read.csv("/tmp/dataset_one.csv", header=True)
df2 = spark.read.csv("/tmp/dataset_two.csv", header=True)
# Displays the content of the DataFrame to stdout
df1.show()
df2.show()

+---+----------+----------+--------------------+--------------+
| id|first_name| last_name|               email|       country|
+---+----------+----------+--------------------+--------------+
|  1|    Feliza|    Eusden|  feusden0@ameblo.jp|        France|
|  2| Priscilla|   Le Pine|plepine1@biglobe....|        France|
|  3|    Jaimie|    Sandes|jsandes2@reuters.com|        France|
|  4|      Nari|   Dolphin|ndolphin3@cbsloca...|        France|
|  5|     Garik|     Farre|gfarre4@economist...|        France|
|  6|   Kordula|   Broodes| kbroodes5@amazon.de|        France|
|  7|     Rakel|   Ingliby|    ringliby6@ft.com| United States|
|  8|      Derk| Mattielli|dmattielli7@slide...| United States|
|  9|    Karrah|   Boshard|   kboshard8@ihg.com|        France|
| 10| Friedrich|  Kreutzer|fkreutzer9@busine...|        France|
| 11|      Conn|   Claiden| cclaidena@vimeo.com|        France|
| 12|     Karel|   Crippin| kcrippinb@google.pl|        France|
| 13| Millisent|     Joint| mjointc@state.tx.us|        France|
| 14|   Valeria|McCloughen| vmccloughend@gov.uk|        France|
| 15|   Monique|  Bernardo|mbernardoe@scient...| United States|
| 16|    Callie|    d'Arcy|cdarcyf@people.co...| United States|
| 17|   Demetri|Bridgwater|dbridgwaterg@youk...| United States|
| 18|   Richard|    Drinan|rdrinanh@odnoklas...|United Kingdom|
| 19|    Benjie|  Stuttman|bstuttmani@cpanel...| United States|
| 20|  Claresta|Martinetto|cmartinettoj@mapy.cz|        France|
+---+----------+----------+--------------------+--------------+
only showing top 20 rows

+---+--------------------+--------------------+------------------+
| id|               btc_a|                cc_t|              cc_n|
+---+--------------------+--------------------+------------------+
|  1|1wjtPamAZeGhRnZfh...|       visa-electron|  4175006996999270|
|  2|1Js9BA1rV31hJFmN2...|                 jcb|  3587679584356527|
|  3|1CoG9ciLQVQCnia5o...| diners-club-enroute|   201876885481838|
|  4|1GNvinVKGzPBVNZSc...|              switch|564182038040530730|
|  5|1DHTzZ7ypu3EzWtLB...|                 jcb|  3555559025151828|
|  6|1LWktvit3XBCJNrsj...|                 jcb|  3580083825272493|
|  7|1J71SRGqUjhqPuHaZ...|              switch|491193585665108260|
|  8|1Q5FAwgXbhRxP1uYp...|          mastercard|  5100174550682620|
|  9|1QKy8RoeWR48nrwkn...|diners-club-carte...|    30343863921001|
| 10|1NRDQBCtuDqm8Qomr...|diners-club-carte...|    30559612937267|
| 11|1HcqQ5Ys77sJm3ZJv...|                visa|     4937793997478|
| 12|1EncEr6Vd5ywk96un...|                 jcb|  3569513122126013|
| 13|14bMXV3h1S6KxGHde...|                 jcb|  3537645802098952|
| 14|1Gi1ZJsBDqCztVjtc...|            bankcard|  5602232103395992|
| 15|1GnNjsnbBTw6w9WHn...|                 jcb|  3558941392668773|
| 16|17y4HG6vY9wDZmeu5...|                 jcb|  3579496825654275|
| 17|14reD6Z1kUjg8QC5Y...|                 jcb|  3563252716889142|
| 18|1ErM8yuF3ytzzxLy1...|      china-unionpay| 56022230876188334|
| 19|1FeH4KecDLZYXEcAu...|          mastercard|  5100176279014886|
| 20|14iPptCE59bQXGocz...|                 jcb|  3531510529019283|
+---+--------------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
# Requirement 1: Use Python 3.7, not an option within Colab

In [21]:
# Requirement 2: Only use clients from the UK or NL
df1 = df1.filter( (df1.country  == "United Kingdom") | (df1.country == "Netherlands") )

df1.show()

+---+----------+---------+--------------------+--------------+
| id|first_name|last_name|               email|       country|
+---+----------+---------+--------------------+--------------+
| 18|   Richard|   Drinan|rdrinanh@odnoklas...|United Kingdom|
| 32|    Wallis|  Bamford|wbamfordv@t-onlin...|United Kingdom|
| 33|   Saundra|  Westall|swestallw@blinkli...|United Kingdom|
| 34|     Ewart|Rosengren|erosengrenx@usato...|United Kingdom|
| 36|    Daniel|Buckthorp|dbuckthorpz@tmall...|   Netherlands|
| 62|      Boyd|   Barham|  bbarham1p@wisc.edu|   Netherlands|
| 67|     Lorry|  Beavors|lbeavors1u@techno...|United Kingdom|
| 70|  Freedman|   Dresse|fdresse1x@bloglin...|United Kingdom|
| 91|      Audy|   Eplate|aeplate2i@webeden...|United Kingdom|
|105|     Lacie|  Infante|linfante2w@telegr...|   Netherlands|
|108|   Rhianna|  Partkya|  rpartkya2z@cdc.gov|   Netherlands|
|109|    Marnia|     Dory|    mdory30@uiuc.edu|   Netherlands|
|110|     Rhody|  Swindle|rswindle31@tmall.com|   Netherlands|
|124|       Wyn|    Darco|wdarco3f@geocitie...|   Netherlands|
|128|      Vito| Napthine|vnapthine3j@ning.com|   Netherlands|
|165|     Hilda| Heinecke|hheinecke4k@alter...|   Netherlands|
|177|   Alfredo|  Wissbey|awissbey4w@geocit...|United Kingdom|
|189|    Eduard|     Tsar|     etsar58@ovh.net|   Netherlands|
|194|     Irena|  Greated| igreated5d@live.com|   Netherlands|
|197|    Penrod|  Volette|  pvolette5g@ask.com|United Kingdom|
+---+----------+---------+--------------------+--------------+
only showing top 20 rows

In [25]:
# Requirement 3: Remove personal identifiable information from the first dataset, excluding emails.
df1 = df1.drop('first_name', 'last_name')

df1.show()

+---+--------------------+--------------+
| id|               email|       country|
+---+--------------------+--------------+
| 18|rdrinanh@odnoklas...|United Kingdom|
| 32|wbamfordv@t-onlin...|United Kingdom|
| 33|swestallw@blinkli...|United Kingdom|
| 34|erosengrenx@usato...|United Kingdom|
| 36|dbuckthorpz@tmall...|   Netherlands|
| 62|  bbarham1p@wisc.edu|   Netherlands|
| 67|lbeavors1u@techno...|United Kingdom|
| 70|fdresse1x@bloglin...|United Kingdom|
| 91|aeplate2i@webeden...|United Kingdom|
|105|linfante2w@telegr...|   Netherlands|
|108|  rpartkya2z@cdc.gov|   Netherlands|
|109|    mdory30@uiuc.edu|   Netherlands|
|110|rswindle31@tmall.com|   Netherlands|
|124|wdarco3f@geocitie...|   Netherlands|
|128|vnapthine3j@ning.com|   Netherlands|
|165|hheinecke4k@alter...|   Netherlands|
|177|awissbey4w@geocit...|United Kingdom|
|189|     etsar58@ovh.net|   Netherlands|
|194| igreated5d@live.com|   Netherlands|
|197|  pvolette5g@ask.com|United Kingdom|
+---+--------------------+--------------+
only showing top 20 rows

In [28]:
#Requirement 4: Remove credit card number from the second dataset.

df2 = df2.drop('cc_n')

df2.show()

+---+--------------------+--------------------+
| id|               btc_a|                cc_t|
+---+--------------------+--------------------+
|  1|1wjtPamAZeGhRnZfh...|       visa-electron|
|  2|1Js9BA1rV31hJFmN2...|                 jcb|
|  3|1CoG9ciLQVQCnia5o...| diners-club-enroute|
|  4|1GNvinVKGzPBVNZSc...|              switch|
|  5|1DHTzZ7ypu3EzWtLB...|                 jcb|
|  6|1LWktvit3XBCJNrsj...|                 jcb|
|  7|1J71SRGqUjhqPuHaZ...|              switch|
|  8|1Q5FAwgXbhRxP1uYp...|          mastercard|
|  9|1QKy8RoeWR48nrwkn...|diners-club-carte...|
| 10|1NRDQBCtuDqm8Qomr...|diners-club-carte...|
| 11|1HcqQ5Ys77sJm3ZJv...|                visa|
| 12|1EncEr6Vd5ywk96un...|                 jcb|
| 13|14bMXV3h1S6KxGHde...|                 jcb|
| 14|1Gi1ZJsBDqCztVjtc...|            bankcard|
| 15|1GnNjsnbBTw6w9WHn...|                 jcb|
| 16|17y4HG6vY9wDZmeu5...|                 jcb|
| 17|14reD6Z1kUjg8QC5Y...|                 jcb|
| 18|1ErM8yuF3ytzzxLy1...|      china-unionpay|
| 19|1FeH4KecDLZYXEcAu...|          mastercard|
| 20|14iPptCE59bQXGocz...|                 jcb|
+---+--------------------+--------------------+
only showing top 20 rows

In [30]:
# Requirement 5: Data should be joined using the id field.
joined = df1.join(df2, on='id')

joined.show()

+---+--------------------+--------------+--------------------+--------------------+
| id|               email|       country|               btc_a|                cc_t|
+---+--------------------+--------------+--------------------+--------------------+
| 18|rdrinanh@odnoklas...|United Kingdom|1ErM8yuF3ytzzxLy1...|      china-unionpay|
| 32|wbamfordv@t-onlin...|United Kingdom|12sxmYnPcADAXw1Yk...|             maestro|
| 33|swestallw@blinkli...|United Kingdom|1GZ7QB7GUFSWnkBHm...|          mastercard|
| 34|erosengrenx@usato...|United Kingdom|12o8zrHx6snCPbtko...|       visa-electron|
| 36|dbuckthorpz@tmall...|   Netherlands|15X53Z9B9jUNrvFpb...|diners-club-inter...|
| 62|  bbarham1p@wisc.edu|   Netherlands|16qpYVt6YAAx4JYjz...|                 jcb|
| 67|lbeavors1u@techno...|United Kingdom|12ya1ED93ApPBQRSC...|            bankcard|
| 70|fdresse1x@bloglin...|United Kingdom|1F8zXTEaf4AFpztMN...|          mastercard|
| 91|aeplate2i@webeden...|United Kingdom|19MZSy1H8S4SaXsmS...|diners-club-carte...|
|105|linfante2w@telegr...|   Netherlands|13j6FKzrLgumLUqeY...|                 jcb|
|108|  rpartkya2z@cdc.gov|   Netherlands|1RcsodKknm8thkCL6...|             maestro|
|109|    mdory30@uiuc.edu|   Netherlands|1HxV2jkyM3PXbsH4q...|                 jcb|
|110|rswindle31@tmall.com|   Netherlands|15cRJ4mzZd4Vgd33x...|      china-unionpay|
|124|wdarco3f@geocitie...|   Netherlands|1CB7AdhTFBXmxuABm...|             maestro|
|128|vnapthine3j@ning.com|   Netherlands|16DbYq1KR8DVSQu5E...| diners-club-enroute|
|165|hheinecke4k@alter...|   Netherlands|1KgbP1KXt5xs2sBLu...|                 jcb|
|177|awissbey4w@geocit...|United Kingdom|1AJzqEgbbFh2TNLFZ...|     americanexpress|
|189|     etsar58@ovh.net|   Netherlands|1PktCHyic9G4aZu15...|                 jcb|
|194| igreated5d@live.com|   Netherlands|12KTfvJwTfnJn3dFt...|                 jcb|
|197|  pvolette5g@ask.com|United Kingdom|1Q6UV84patYXfzEdA...| diners-club-enroute|
+---+--------------------+--------------+--------------------+--------------------+
only showing top 20 rows

In [35]:
# Requirement 6:	Rename the columns for the easier readability to the business users 
rename_dict = {'id': 'client_identifier', 'btc_a': 'bitcoin_address', 'cc_t': 'credit_card_type'}

joined = joined.select([col(c).alias(rename_dict.get(c, c)) for c in joined.columns])

joined.show()

+-----------------+--------------------+--------------+--------------------+--------------------+
|client_identifier|               email|       country|     bitcoin_address|    credit_card_type|
+-----------------+--------------------+--------------+--------------------+--------------------+
|               18|rdrinanh@odnoklas...|United Kingdom|1ErM8yuF3ytzzxLy1...|      china-unionpay|
|               32|wbamfordv@t-onlin...|United Kingdom|12sxmYnPcADAXw1Yk...|             maestro|
|               33|swestallw@blinkli...|United Kingdom|1GZ7QB7GUFSWnkBHm...|          mastercard|
|               34|erosengrenx@usato...|United Kingdom|12o8zrHx6snCPbtko...|       visa-electron|
|               36|dbuckthorpz@tmall...|   Netherlands|15X53Z9B9jUNrvFpb...|diners-club-inter...|
|               62|  bbarham1p@wisc.edu|   Netherlands|16qpYVt6YAAx4JYjz...|                 jcb|
|               67|lbeavors1u@techno...|United Kingdom|12ya1ED93ApPBQRSC...|            bankcard|
|               70|fdresse1x@bloglin...|United Kingdom|1F8zXTEaf4AFpztMN...|          mastercard|
|               91|aeplate2i@webeden...|United Kingdom|19MZSy1H8S4SaXsmS...|diners-club-carte...|
|              105|linfante2w@telegr...|   Netherlands|13j6FKzrLgumLUqeY...|                 jcb|
|              108|  rpartkya2z@cdc.gov|   Netherlands|1RcsodKknm8thkCL6...|             maestro|
|              109|    mdory30@uiuc.edu|   Netherlands|1HxV2jkyM3PXbsH4q...|                 jcb|
|              110|rswindle31@tmall.com|   Netherlands|15cRJ4mzZd4Vgd33x...|      china-unionpay|
|              124|wdarco3f@geocitie...|   Netherlands|1CB7AdhTFBXmxuABm...|             maestro|
|              128|vnapthine3j@ning.com|   Netherlands|16DbYq1KR8DVSQu5E...| diners-club-enroute|
|              165|hheinecke4k@alter...|   Netherlands|1KgbP1KXt5xs2sBLu...|                 jcb|
|              177|awissbey4w@geocit...|United Kingdom|1AJzqEgbbFh2TNLFZ...|     americanexpress|
|              189|     etsar58@ovh.net|   Netherlands|1PktCHyic9G4aZu15...|                 jcb|
|              194| igreated5d@live.com|   Netherlands|12KTfvJwTfnJn3dFt...|                 jcb|
|              197|  pvolette5g@ask.com|United Kingdom|1Q6UV84patYXfzEdA...| diners-club-enroute|
+-----------------+--------------------+--------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
x